.preloader
	img(
		src=`${baseDir}images/guy-on-rocket.png`
		srcset=`${baseDir}images/guy-on-rocket.webp, ${baseDir}images/guy-on-rocket@2x.webp 2x, ${baseDir}images/guy-on-rocket@2x.png 2x`
		alt="Прелоадер"
		width="591"
		height="591"
	).preloader__image
