main.home
	section.home__section.home__section--about
		//-  Блок «О себе»
		h1.home__title.home__title--about
			!= data.home.about.name
		p.home__about-bio
			!= data.home.about.bio

		//- Блок «Контакты»
		.home__contacts
			a.home__contact(href="mailto:mail@gmail.com")
				| mail@gmail.com
			a.home__contact(href="tel:+79990000000")
				| +7 (999) 000-00-00
			span.home__contact
				| г. Иннополис
			ul.home__socials
				each social in data.home.socials
					li
						+svg(social).home__social-icon

	section.home__section.home__section--resume
		//- Блок «Опыт работы»
		h2.home__title
			| Опыт работы
		ul.home__jobs
			each job, key in data.home.jobs
				//- Разметка элемента job
				li.home__job
					span.home__job-time
						!= job.time
					.home__job-position-box
						h3.home__job-position
							!= job.position
						span(class=`sprite-${job.specialityLogo}`)

					.home__job-company-box(
						class={
							'home__job-company-box--block': key === 0,
							'home__job-company-box--grid': key === 1 || key === 4
						}
					)
						if job.companyLogo
							img.home__job-company-logo(
								src=`${baseDir}images/${job.companyLogo}.png`
								srcset=`${baseDir}images/${job.companyLogo}@2x.png 2x`
								alt="Логотип компании"
								width="30"
								height="30"
							)
						if job.companyName
							span.home__job-company-name
								!= job.companyName
						span.home__job-company-desc
							!= job.companyDesc

					.home__job-duty-box
						p.home__job-duty(
							class={
								'home__job-duty--lineheight-one-two': key === 0,
								'home__job-duty--lineheight-one-four': key === 1
							}
						)
							!= job.duty
						each project in job.projects
							p.home__job-project
								!= project

		//- Декоративное изображение (жонглер)
		+lazyImage({
			src: `${baseDir}images/juggling-guy.png`,
			srcset: `${baseDir}images/juggling-guy.webp, ${baseDir}images/juggling-guy@2x.webp 2x, ${baseDir}images/juggling-guy@2x.png 2x`,
			alt: 'Нарисованный парень, который жонглирует монетами',
		})&attributes({
			width: '500',
			height: '500',
		}).home__decor-image.home__decor-image--juggler

		//- Образование
		h2.home__title
			| Образование
		ul.home__educations
			each education in data.home.educations
				li.home__education
					span.home__education-logo(class=`sprite-${education.logo}`)
					h3.home__education-speciality
						!= education.speciality
					each institution in education.institutions
						p.home__education-institution
							!= institution

	section.home__section.home__section--skills
		//- Навыки
		h2.home__title
			| Навыки
		ul.home__skills
			each skill in data.home.skills
				li.home__skill
					h3.home__skill-group
						!= skill.group
					p.home__skill-values
						!= skill.values

	//- Декоративное изображение (сердечко из пальцев)
	+lazyImage({
		src: `${baseDir}images/fingers-heart.png`,
		srcset: `${baseDir}images/fingers-heart.webp,&nbsp; ${baseDir}images/fingers-heart@2x.webp 2x, ${baseDir}images/fingers-heart@2x.png 2x`,
		alt: 'Пальцы, сложенные в форме сердца',
	})&attributes({
		width: '512',
		height: '288',
	}).home__decor-image.home__decor-image--fingers
