main.home
	section.home__section.home__section--about#about
		//-  Блок «О себе»
		h1.home__title.home__title--about!= data.home.about.name
		p.home__about-bio!= data.home.about.bio

		//- Блок «Контакты»
		.home__contacts
			a.home__contact.home__contact--link(href="mailto:kalmykov2570@gmail.com")
				| kalmykov2570@gmail.com
			a.home__contact.home__contact--link(href="tel:+79276055309")
				| +7 (927) 605-53-09
			span.home__contact
				| г. Самара
			ul.home__socials
				each social in data.home.socials
					li
						button(data-social=social).home__social-button
							+svg(social).home__social-icon

	section.home__section.home__section--job-education#resume
		//- Блок «Опыт работы»
		h2.home__title
			| Опыт работы
		ul.home__jobs
			each job, key in data.home.jobs
				//- Разметка элемента job
				li.home__job
					span.home__job-time!= job.time
					.home__job-position-box
						h3.home__job-position!= job.position
						span(class=`sprite-${job.specialityLogo}`)

					.home__job-company-box(
						class={
							'home__job-company-box--block': key === 0,
							'home__job-company-box--grid': key === 1 || key === 4
						}
					)
						if job.companyLogo
							img.home__job-company-logo(
								data-src=`${baseDir}images/${job.companyLogo}.png`
								data-srcset=`${baseDir}images/${job.companyLogo}@2x.png 2x`
								alt="Логотип компании"
								width="30"
								height="30"
							)
						if job.companyName
							span.home__job-company-name!= job.companyName
						span.home__job-company-desc!= job.companyDesc

					.home__job-duty-box
						p.home__job-duty(
							class={
								'home__job-duty--lineheight-one-two': key === 0,
								'home__job-duty--lineheight-one-four': key === 1
							}
						)!= job.duty
						each project in job.projects
							p.home__job-project!= project

		//- Декоративное изображение (жонглер)
		img(
			data-src=`${baseDir}images/juggling-guy.png`
			data-srcset=`${baseDir}images/juggling-guy.webp, ${baseDir}images/juggling-guy@2x.webp 2x, ${baseDir}images/juggling-guy@2x.png 2x`
			alt="Нарисованный парень, который жонглирует монетами"
			width="300"
			height="465"
		).home__decor-image.home__decor-image--juggler

		//-  Блок «Образование»
		h2.home__title.home__title--education
			| Образование
		ul.home__educations
			each education in data.home.educations
				li.home__education
					span(class=`sprite-${education.logo}`)
					h3.home__education-speciality!= education.speciality
					each institution in education.institutions
						p.home__education-institution!= institution

	section.home__section.home__section--skills#skills
		//-  Блок «Навыки»
		h2.home__title.home__title--skills
			| Навыки
		ul.home__skills
			each skill in data.home.skills
				li.home__skill
					h3.home__skill-group!= skill.group
					p.home__skill-values!= skill.values

	//- Декоративное изображение (сердечко из пальцев)
	img(
		data-src=`${baseDir}images/fingers-heart.png`
		data-srcset=`${baseDir}images/fingers-heart.webp, ${baseDir}images/fingers-heart@2x.webp 2x, ${baseDir}images/fingers-heart@2x.png 2x`
		alt="Пальцы, сложенные в форме сердца"
		width="350"
		height="230"
	).home__decor-image.home__decor-image--fingers
