extends pug/base

prepend vars
	-
		var emptyImage = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAD0lEQVR42mNkwAIYh7IgAAVVAAuInjI5AAAAAElFTkSuQmCC'
	-
		//- title = '<?= htmlspecialchars($title) ?>'
		//- description = '<?= htmlspecialchars($description) ?>'
		//- image = '<?= htmlspecialchars($image) ?>'
		title = 'Resume of Vasily'
		description = 'Summary of my experience, education and motivation'
		image = `${baseDir}images/guy-with-laptop.png`

append vars
	-
		html.attrs.lang = 'en'
	-
		link.icon16x16 = `${baseDir}images/favicon16x16.ico`
		link.icon32x32 = `${baseDir}images/favicon32x32.ico`
		link.icon96x96 = `${baseDir}images/favicon96x96.ico`
		link.icon128x128 = `${baseDir}images/favicon128x128.ico`

block content
	include pug/data

	.site.site--custom
		include pug/components/preloader

		include pug/components/header

		include pug/pages/home

		include pug/components/scroll-indicator

		include pug/components/share

	include pug/components/analytics
